* {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 0;
}

p {
    font-size: 20px;
    line-height: 30px;
}

a {
    color: white;
    font-weight: normal;
    font-size: 14px;
}

a:hover {
    color: #12e3f6;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
}

h2 {
    font-size: 45px;
    font-weight: normal;
    line-height: 75px;
}

h4 {
    font-weight: normal;
}

.extra-size {
    font-size: 30px;
}

button {
    border-radius: 10px;
}

.extra-color {
    background-color: #b5e1f0;
}

.nav-link.disabled {
    color: #5d97e7;
}

.social-link {
    cursor: pointer;
}

.first-block {
    background-image: -moz-linear-gradient( 29deg, rgb(151,61,228) 32%, rgb(93,40,183) 100%);
    background-image: -webkit-linear-gradient( 29deg, rgb(151,61,228) 32%, rgb(93,40,183) 100%);
    background-image: -ms-linear-gradient( 29deg, rgb(151,61,228) 32%, rgb(93,40,183) 100%);
}

.third-block {
    background-color: #f3f3f3;
}

.small-block {
    font-size: 12px;
    line-height: 18px;
    color: #6d6d6d;
}