* {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 0;
}

p {
    font-size: 20px;
    line-height: 30px;
}

a {
    color: white;
    font-weight: normal;
    font-size: 14px;
}

a:hover {
    color: #12e3f6;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
}

h2 {
    font-size: 45px;
    font-weight: normal;
    line-height: 75px;
}

h4 {
    font-weight: normal;
}

.extra-size {
    font-size: 30px;
}

button {
    border-radius: 10px;
}

.extra-color {
    background-color: #b5e1f0;
}

.nav-link.disabled {
    color: #5d97e7;
}

.social-link {
    cursor: pointer;
}

.first-block {
    background-image: -moz-linear-gradient( 29deg, rgb(151,61,228) 32%, rgb(93,40,183) 100%);
    background-image: -webkit-linear-gradient( 29deg, rgb(151,61,228) 32%, rgb(93,40,183) 100%);
    background-image: -ms-linear-gradient( 29deg, rgb(151,61,228) 32%, rgb(93,40,183) 100%);
}

.third-block {
    background-color: #f3f3f3;
}

.fourth-block {
    /* background-color: rgb(166, 212, 255); */
    padding: 20px;
}

.sl2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* background-color: rgb(204, 155, 155); */
}

.slick-slide img {
    display: inline-block;
}

.small-block {
    font-size: 12px;
    line-height: 18px;
    color: #6d6d6d;
}




/* Dots */



.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    /* bottom: -25px; */

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 5px 10px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 10px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: #cdcdcd;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #832cce;
}